@model RentalCarMotorbike.ViewModel.ViewModels

@{
    ViewBag.Title = "Rent ConfirmBill";
}

<div class="container" style="padding: 0">
    <div class="jumbotron">
        <h1 class="text-center" style="color: green;"><span class="glyphicon glyphicon-ok-circle"></span> Bill Confirmed.</h1>
    </div>
</div>
<br>

<div class="container">
    <div class="box">
        <div class="col-md-10" style="float: none; margin: 0 auto; ">
            <table class="table-data" style="margin:0 auto">
                <tr>
                    <td><h4> <strong>Vehicle Name: </strong> </h4></td>
                    <td>@Model.vehicle.VehicleName</td>
                </tr>
                <tr>
                    <td><h4> <strong>Vehicle Model: </strong> </h4></td>
                    <td>@Model.vehicle.VehicleModel</td>
                </tr>
                <tr>
                    <td> <h4> <strong>Vehicle Flat Number:</strong></h4></td>
                    <td>@Model.vehicle.VehicleFlatNumber</td>
                </tr>
                <tr>
                    <td><h4> <strong>Vehicle Total Cost: </strong> </h4></td>
                    <td>@Model.rent.RentTotalPrice</td>
                </tr>
                <tr>
                    <td><h4> <strong>Start Date: </strong></h4></td>
                    <td>@Model.rent.RentPickUpDate</td>
                </tr>
                <tr>
                    <td><h4> <strong>Return Date: </strong></h4></td>
                    <td>@Model.rent.RentReturnDate</td>
                </tr>
                <tr>
                    <td><h4> <strong>Customer ID: </strong> </h4></td>
                    <td>@Model.customer.CustomerID</td>
                </tr>
                <tr>
                    <td><h4> <strong>Customer Name: </strong> </h4></td>
                    <td>@Model.customer.CustomerName</td>
                </tr>
                <tr>
                    <td><h4> <strong>Customer Email: </strong></h4></td>
                    <td>@Model.customer.CustomerEmail</td>
                </tr>
                <tr>
                    <td><h4> <strong>Customer Contact: </strong></h4></td>
                    <td>@Model.customer.CustomerPhone</td>
                </tr>
                <tr>
                    <td><h4> <strong>Customer Addess:</strong> </h4></td>
                    <td>@Model.customer.CustomerAddress</td>
                </tr>
                <tr>
                    <td><h4> <strong>Employee Name: </strong></h4></td>
                    <td>@Model.rent.EmployeeName</td>
                </tr>
                <tr>
                    <td><h4> <strong>Employee Contact:</strong> </h4></td>
                    <td>@Model.rent.EmployeePhone</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ActionLink("Back To Home", "Index", "Rent", null, new { @class = "btn btn-primary" }) </td>
                </tr>
            </table>
        </div>
    </div>
</div>

